body { 
  padding: 15px; 
}

.container { 
  max-width: 600px; 
}


/* Menghilangkan panah atas/bawah pada input type="number" */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

