.add-visit-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 8px 15px;
  background-color: var(--kuning-fisika);
  position: fixed;
  
  bottom: 16px;
  right: 16px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--dongker-fisika);
  cursor: pointer;

  text-decoration: none;
}

#plusIcon {
  font-size: 2rem;
}
