.add-visit-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 10px 15px;
  background-color: var(--kuning-fisika);
  position: fixed;
  
  bottom: 40px;
  right: 25px;
  border-radius: 10px;
  border: 0;
  box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--dongker-fisika);
  cursor: pointer;

  text-decoration: none;
}
