.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  padding: var(--btn-padding);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight); 
  border-style: solid;
  border-radius: var(--btn-border-radius);
  border-width: var(--btn-border-width);
  transition: var(--btn-transition);
}

.btn-primary {
  color: var(--btn-primary-color);
  background-color: var(--btn-primary-bg);
  border-color: var(--btn-primary-border-color);
}

.btn-primary:hover, .btn-primary:active {
  background-color: var(--btn-primary-hover-bg);
  border-color: var(--btn-primary-hover-border-color);
  cursor: pointer;
}