.btn-primary {
  text-align: center;
  text-decoration: none;
  justify-content: center;
  color: inherit;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  border: 1px solid var(--dongker-fisika);
  border-radius: 5px;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary:hover, .btn-primary:active {
  background-color: var(--kuning-fisika);
  border-color: var(--kuning-fisika);
  cursor: pointer;
}