.nav-container {
  position: fixed;
  top: 64px;
  /* right: 0; */
  min-width: 250px;
  width: 90vw;

  transform: translateY(-164%);
  transition: transform 0.5s ease;

  color: var(--dongker-fisika);
  align-self: center;
  border-radius: 0 0 20px 20px;
}

.open {
  transform: translate(0, 0);
}

.nav-title {
  padding: 35px;
}

.nav-list {
  list-style: none;
}

.nav-item a {
  font-size: 1.2em;
  padding: 15px 35px;
  display: block;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: inherit;
}      

.nav-item a:hover {
  background-color: var(--putih);
}