.nav-container {
  position: fixed;
  top: 64px;
  right: 0;
  min-width: 250px;
  width: 100%;
  height: 100%;

  transform: translateX(164%);
  transition: transform 0.5s ease;

  color: var(--dongker-fisika);
  background-color: var(--putih);
}

.open {
  transform: translate(0, 0);
  /* height: 100vh; */
}

.nav-title {
  padding: 35px;
}

.nav-list {
  list-style: none;
}

.nav-item a {
  font-size: 1.2em;
  padding: 15px 35px;
  display: block;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: inherit;
}      

.nav-item a:hover {
  background-color: var(--putih);
}