.promo-card__content {
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.promo-card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 3;
  min-width: 0;
  /* word-break: break-word; */
}

.promo-card__text h2 {
  font-size: 2rem;
}

.promo-card__image {
  overflow: hidden;
  flex: 2;
  height: 100%;
}

.promo-card__image img {
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.2));
}

